
.ICEauthority
.Spark/
.Xauthority
.Xclients
.Xresources
.authinfo
.config/
/CVS
.cvspass
.dmrc
.fontconfig/
.gconfd/
.gnome2/
.gnupg/
.history
.ido.last
.jabber-avatars/
.lesshst
.login
.mozilla/
.openoffice.org2.0/
.post-review-cookies.txt
.recentf
.recently-used.xbel
.ssh/known_hosts
/.svn
.subversion/
.xsession-errors
.zcompdump
.zfbkmarks
.zlogin
.zlogout
.zprofile
.zshenv
.zshrc
/Desktop/
/docs/
/tmp
/src
/ws
.viminfo
.macromedia/
.w3m
.gkrellm2/data
.emacs.d
.emacs-project
.project
.ropeproject
.ssh/id_rsa
.ssh/id_rsa.pub
.cpan
.evolution
.gconf
.vnc
.mcop
.mcoprc
.mysql_history
.install4j
userdic.tlx
.gnome
.nautilus
.thumbnails
.bash_history
.consolelord
etc/X11/fvwm/snapshots/
.Xauthority-l
.Xauthority-c
.gitk
.gnubiffrc
.xscreensaver
.gnome
.gnome2
.gnome2_private
JavaHomeWork
.thunderbird/
*~
*.elc
*.pyc
.sqldeveloper/
.tramp_history
.recently-used
.gnuplot_history
.metacity
.bouml
.boumlrc
.dbus
.dbvis
.dia
.gnomerc
.gstreamer-0.10
.gtkrc-1.2-gnome2
.nx
.gimp-2.2
.mozplugger
.serverauth*
.qt/
.abbrev_defs
.aspell.en.*
.esd_auth
.adobe
.kde/
.local/
.pki/
.libreoffice/
.lyx/
.xslate_cache/
.java_history
.swt/
/.vim/docs/tags
.argouml/
.pearrc
.DS_Store
.coverage
coverage.xml
nosetests.xml
/.tox
.cov2emacs.log
/.hg
*_flymake.*
.#*
\#*#
*$py.class
*.egg-info
runpy
/build
/apollo-overrides
/.apollorc
coral-generated-src
/var/
/.caff/
/.gimp-2.8/
/.gramps/
/.texmf-var/
/Downloads/
/mail/
/.rpmdb/
