# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Shared objects (Compiled Dynamic libraries)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Non source files
*.bak
*.db
*.avi
*.pdf
*.ps
*.mid
*.midi
*.mp3
*.aif
*.wav

# gcc coverage testing tool files
*.gcno
*.gcda
*.gcov

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
.eclipse/
eclipse-bin

# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# CVS
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# Eclipse
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

#  Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# Mercurial
/.hg/*
*/.hg/*
.hgignore

# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/

# Package Files #
*.jar
*.war
*.ear

# Temporary file directory
tmp/
var/

# Perl modules
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib


.ICEauthority
.Spark/
.Xauthority
.Xclients
.Xresources
.authinfo
.config/
/CVS
.cvspass
.dmrc
.fontconfig/
.gconfd/
.gnome2/
.gnupg/
.history
.ido.last
.jabber-avatars/
.lesshst
.login
.mozilla/
.openoffice.org2.0/
.post-review-cookies.txt
.recentf
.recently-used.xbel
.ssh/known_hosts
/.svn
.subversion/
.xsession-errors
.zcompdump
.zfbkmarks
.zlogin
.zlogout
.zprofile
.zshenv
.zshrc
/Desktop/
/docs/
/tmp
/src
/ws
.viminfo
.macromedia/
.w3m
.gkrellm2/data
.emacs.d
.emacs-project
.project
.ropeproject
.ssh/id_rsa .ssh/id_rsa.pub
.cpan
.evolution
.gconf
.vnc
.mcop
.mcoprc
.mysql_history
.install4j
userdic.tlx
.gnome
.nautilus
.thumbnails
.bash_history
.consolelord
etc/X11/fvwm/snapshots/
.Xauthority-l
.Xauthority-c
.gitk
.gnubiffrc
.xscreensaver
.gnome
.gnome2
.gnome2_private
JavaHomeWork
.thunderbird/
*~
*.elc
*.pyc
.sqldeveloper/
.tramp_history
.recently-used
.gnuplot_history
.metacity
.bouml
.boumlrc
.dbus
.dbvis
.dia
.gnomerc
.gstreamer-0.10
.gtkrc-1.2-gnome2
.nx
.gimp-2.2
.mozplugger
.serverauth*
.qt/
.abbrev_defs
.aspell.en.*
.esd_auth
.adobe
.kde/
.local/
.pki/
.libreoffice/
.lyx/
.xslate_cache/
.java_history
.swt/
/.vim/docs/tags
.argouml/
.pearrc
.DS_Store
.coverage
coverage.xml
nosetests.xml
/.tox
.cov2emacs.log
/.hg
*_flymake.*
.#*
\#*#
*$py.class
*.egg-info
runpy
/build
/apollo-overrides
/.apollorc
coral-generated-src
/var/
