
# Random stuff
*$py.class
*.egg-info
*.elc
*.pyc
*_flymake.*
*~
.#*
.DS_Store
.ICEauthority
.RData
.Rhistory
.Spark/
.Tgif/
.Xauthority
.Xauthority-c
.Xauthority-l
.Xclients
.Xresources
.abbrev_defs
.adobe
.android/
.angband/
.argouml/
.aspell.en.*
.authinfo
.aws/
.azureus/
.bash_history
.bouml
.boumlrc
.bzr.log
.cache/
.ccache
.config
.config/
.consolelord
.cov2emacs.log
.coverage
.cpan
.cups/
.cvspass
.dbus
.dbvis
.ddd/
.dia
.dmrc
.emacs-project
.emacs.d
.esd_auth
.evolution
.fetchmailrc
.fontconfig/
.fonts.conf
.fonts/
.gconf
.gconfd/
.gimp-2.2
.gitk
.gitignore.d
.gkrellm2
.gkrellm2/data
.gnome
.gnome
.gnome2
.gnome2/
.gnome2_private
.gnomerc
.gnubiffrc
.gnupg/
.gnuplot_history
.gnutls/
.gqview/
.grep-dctrl-banner-shown
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-1.2-gnome2
.history
.icedove/
.icedtea
.icons/
.ido.last
.install4j
.jabber-avatars/
.java/
.java_history
.kde/
.lesshst
.libreoffice
.libreoffice/
.links2/
.linuxcounter/
.local
.local/
.login
.lyx/
.macromedia/
.maptool/
.mcop
.mcoprc
.metacity
.mlterm/
.mozilla/
.mozplugger
.mysql_history
.nautilus
.nv/
.nvidia-settings-rc
.nx
.octave_hist
.offlineimaprc
.openoffice.org2.0/
.pearrc
.pki/
.post-review-cookies.txt
.project
.psql_history
.pulse-cookie
.qt/
.recentf
.recently-used
.recently-used.xbel
.rnd
.ropeproject
.rxvt/
.sauerbraten/
.serverauth*
.shutter/
.sqldeveloper/
.ssh/
.subversion/
.swt/
.steam/
.steampath
.steampid
.thumbnails
.thunderbird/
.tome/
.tramp_history
.twm/
.uml/
.url/
.vim/
.viminfo
.vnc
.w3/
.w3m
.weather/
.wget-hsts
.wine/
.wine64/
.wm-icons/
.wmWeatherReports/
.xboardrc
.xcdroast/
.xchat2/
.xconq/
.xdvirc
.xfreecdrc
.xftcache
.xscreensaver
.xsession-errors
.xslate_cache/
.zcompdump
.zfbkmarks
.zlogin
.zlogout
.zprofile
.zshenv
.zshrc
/.apollorc
/.caff/
/.gimp-2.8/
/.gramps/
/.hg
/.rpmdb/
/.svn
/.texmf-var/
/.tox
/.vim/docs/tags
/CVS
/Desktop/
/Downloads/
/apollo-overrides
/bin
/build
/docs/
/lib
/mail/
/media
/sbin
/src
/tex
/tmp
/var/
/ws
Azureus Downloads/
JavaHomeWork
Mail
\#*#
coral-generated-src
coverage.xml
etc/X11/fvwm/snapshots/
nosetests.xml
runpy
userdic.tlx
